* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  text-align: center;
  margin-top: 10px;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  text-align: center;
  color: black;
  font-size: 20px;
}

footer > a {
  color: rgb(52, 151, 227);
  text-decoration: none;
}
